/* IMPORTANTE */
* {
    box-sizing: border-box;
}

/* CONTENEDOR */
.container {
    width: 100%;
    max-width: 350px;
}

/* INPUT Y BOTON IGUALES */
input, button {
    width: 100%;
    height: 45px; /* 🔥 misma altura exacta */
    margin: 10px 0;
    padding: 0 10px;

    background: black;
    color: #00ff00;
    border: 1px solid #00ff00;

    font-size: 1rem;
}
