body {
    background-color: black;
    color: #00ff00;
    font-family: monospace;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 350px; /* 🔥 ajusta aquí */
    text-align: center;
}

input, button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: black;
    color: #00ff00;
    border: 1px solid #00ff00;
}

button:hover {
    background: #00ff00;
    color: black;
}
