body {
    background-color: black;
    color: #00ff00;
    font-family: monospace;
    text-align: center;
    margin-top: 100px;
}

input, button {
    padding: 10px;
    margin: 10px;
    background: black;
    color: #00ff00;
    border: 1px solid #00ff00;
}

button:hover {
    background: #00ff00;
    color: black;
    cursor: pointer;
}